/**
 * Typography
 */

body {
  font-family: var(--font-mono);
  color: var(--primary-color);
}

code {
  font-family: var(--font-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
  font-weight: bold;
  letter-spacing: 2px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.6;
}
